@import url("https://fonts.googleapis.com/css2? family= Bebas+Neue & family= Poppins:wght@400;600 & family= Roboto:wght@400;500 & display=swap");

* {
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
}

body {
  background: white;
  margin: 0 auto;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 100px);
  grid-template-rows: repeat(4, 100px);
  grid-gap: 9px;
  background: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

.container :hover {
  transform: scale(1.1);
  transition: 0.1s;
}

.jan,
.fev,
.mar,
.abr,
.mai,
.jun,
.jul,
.ago,
.set,
.out,
.nov,
.dez,
.add {
  border-radius: 25px;
  border: none;
  font-size: 20px;
  color: grey;
  font-family: "Bebas Neue", sans-serif;
  cursor: pointer;
}

.jan {
  background: #03071e;
  grid-column-start: 1;
  grid-column-end: 3;
}

.fev {
  background: #370617;
  border-radius: 20px;
  grid-column: 1;
  grid-row: 4;
}

.mar {
  background: #6a040f;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}

.abr {
  background: #9d0208;
  grid-row-start: 2;
  grid-row-end: 4;
}

.jun {
  background: #d00000;
  grid-column: 3;
  grid-row: 1;
}

.mai {
  background: #dc2f02;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 4;
}

.jul {
  background: #e85d04;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row: 1;
}

.ago {
  background: #f48c06;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 5;
  grid-column-end: 7;
}

.set {
  background: #faa307;
  grid-row: 1;
  grid-column: 6;
}

.out {
  background: #ffba08;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column: 4;
}

.nov {
  background: maroon;
  grid-row: 4;
  grid-column: 4;
}

.dez {
  background: #b88400;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row: 4;
}

.add {
  background: #370617;
  grid-row: 5;
  grid-column-start: 1;
  grid-column-end: 7;
  height: 50px;
}
