@import url("https://fonts.googleapis.com/css2? family= Bebas+Neue & family= Poppins:wght@400;600 & family= Roboto:wght@400;500 & display=swap");

* {
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
}

body {
  background: white;
  margin: 0 auto;
  padding: 0;
}   

.containe {
  display: grid;
  grid-template-columns: repeat(1, 700px);
  grid-template-rows: repeat(1, 500px);
  background: rgb(252, 252, 252);
  margin: 0;
  padding: 0;
}

.adicio {
    border-radius: 25px;
    color: grey;
    border: 1px solid rgb(0, 0, 0);
  }

.adicio {
  background: #370617;
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 5;
}

.logo {
  margin: 0 auto;
  padding: 0;
  height: 30px;
  width: 30px;
}


.cad {
    background: gray;
    margin: 0 auto;
    padding: 0;
    width: 250px;
    height: 250px;
    align-content: center;
}

.nome {
    width: 20px;
    height: 30px;
}